@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
}

body {
  @apply bg-[#f7f8fa] text-slate-900 antialiased;
  font-feature-settings: "cv02", "cv03";
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-300/60;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400/60;
}
::-webkit-scrollbar-track {
  background: transparent;
}
